<!DOCTYPE html>
<html>
 <head>
   <meta charset='utf-8'>
   <title>About page</title>
 </head>
 <body>
   {{> header}}
   <h1>{{pageTitle}}</h1>
   <h1>{{welcomeMsg}}</h1>
   {{> footer}}
 </body>
</html>
